body{
    background-color: #e9c4c4;
}

header{
    display: flex;
background-color: #dd70b5;
}

footer{
background-color: #f576c4;
}

.cabecalho_imagem{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    padding: 20px;

    
}